<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
	</head>
	<body>
		<div>
			<h1>Welcome to Manga-Tracker</h1>
		</div>

		<div>
			<a href="/login">Log In to Application</a>
		</div>
	</body>
</html>
